:root {
  --desktop-width: 1129px;

  --width-mid: 1205px;
  --width-small: 600px;

  --font-color-white: #ffffff;
  --font-color-black: #191919;
  --font-color-hover-link: yellow;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  font-family: "RF Dewi";
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color-black);

  font-family: "RF Dewi";
  font-weight: 400;

  cursor: default;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: var(--desktop-width);

  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 1205px) {
    max-width: unset;
    padding: 0 30px;
  }
}

.title {
  position: relative;
  top: -30px;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-color-white);
  font-weight: 400;

  text-align: center;

  @media (max-width: 1205px) {
    top: unset;
    padding-top: 21px;
  }
}

.title span:first-of-type {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
}

/* HEADER */

.header {
  position: relative;
  background-image: url("./public/images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.5;
}

.header__background-img {
  position: absolute;
  object-fit: cover;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-top: 30px;

  color: var(--font-color-white);

  @media (max-width: 1205px) {
    justify-content: space-around;
  }
}

.contacts__item {
  position: relative;
  width: fit-content;

  top: 0;

  size: 14px;
  line-height: 21px;
  font-weight: 400;

  z-index: 5;
}

.contacts__href {
  transition: color 0.3s ease-in-out;
}

.contacts__href:hover {
  color: var(--font-color-hover-link);
}

.contacts__href::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contacts__item_centered {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  z-index: 4;
}

.contacts__item span:first-of-type {
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
}

.contacts__title {
  position: relative;
  top: 8px;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

.contacts__title span:first-of-type {
  font-size: 25px;
  line-height: 30px;
}

.header__contacts_ceiling {
  @media (max-width: 1205px) {
    display: none;
  }
}

.header__contacts_floor {
  display: none;
  @media (max-width: 1205px) {
    display: flex;
    padding-bottom: 33px;
  }
}

.hero {
  align-items: center;
  width: 100%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 130px 210px;

  gap: 32px;

  @media (max-width: 1205px) {
    padding-block: 189px 147px;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: var(--font-color-white);

  @media (max-width: 1205px) {
    font-size: 35px;
    line-height: 42px;
  }
}

/* HEADER end */

/* SHOP start */

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 120px 295px;

  @media (max-width: 1205px) {
    padding-block: 57px 284px;
  }
}

.shop__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;

  @media (max-width: 1205px) {
    font-size: 30px;
    line-height: 33px;
  }
}

.shop__text {
  display: inline-block;
  padding-block: 48px 64px;
  max-width: 734px;

  font-size: 16px;
  line-height: 24px;

  text-align: center;

  @media (max-width: 1205px) {
    max-width: 543px;
  }
}

.shop__table {
  display: grid;
  grid-template-columns: repeat(3, 352px);
  column-gap: 34px;
  row-gap: 38px;

  @media (max-width: 1205px) {
    grid-template-columns: repeat(2, 251px);
  }
}

.shop__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 6px;

  cursor: pointer;
}

.shop__card:hover .shop__card-img_wrapper::before {
  opacity: 0.6;
}

.shop__card-href::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shop__card-img_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--font-color-black);
  opacity: 0;
  border-radius: 6px;

  transition: all ease-in-out 0.3s;
}

.shop__card-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.shop__card-img_wrapper {
  position: relative;
}

.shop__card-title {
  font-size: 24px;
  line-height: 28px;
}

.shop__card-cost {
  position: relative;
  top: -12px;
  font-size: 18px;
  line-height: 22px;

  @media (max-width: 1205px) {
    font-size: 14px;
    line-height: 16px;
  }
}

/* SHOP end */

/* DEVELOPMENT start */

.development {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 305px 130px;

  @media (max-width: 1205px) {
    padding-block: 247px 71px;
  }
}

.development__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;

  @media (max-width: 1205px) {
    font-size: 35px;
    line-height: 38px;
  }
}

.development__text {
  display: inline-block;
  padding-block: 48px 64px;
  max-width: 734px;

  font-size: 16px;
  line-height: 24px;

  text-align: center;

  @media (max-width: 1205px) {
    padding-block: 72px 64px;
    max-width: 540px;
  }
}

.development__table {
  display: grid;
  grid-template-columns: repeat(3, 351px);
  gap: 34px;

  @media (max-width: 1205px) {
    grid-template-columns: repeat(1, 351px);
    gap: 83px;
  }
}

.development__card {
  display: flex;
  flex-direction: column;
}

.development__card-image {
  object-fit: contain;
  width: 100%;
  flex-shrink: 0;

  border-radius: 6px;
}

.development__card-title {
  display: block;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  padding-block: 34px 25px;

  text-align: center;
}

.development__card-text {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

/* DEVELOPMENT end */

.gray-bg {
  background: #eeeeee;
}

/* VIDEO start */
.video-banner {
  position: absolute;
  bottom: -175px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1125px;
  height: 350px;
  border-radius: 15px;

  background-image: url("./public/images/video/video.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: 1205px) {
    width: 540px;
    margin: 0 auto;

    left: 50%;
    transform: translateX(-50%);

    background-size: unset;
  }
}

.video-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-color: var(--font-color-black);

  border-radius: 15px;
}

.video-banner__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--font-color-white);

  padding-block: 80px 36px;
  z-index: 5;
}

.video-banner__button {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: var(--font-color-white);
  opacity: 0.2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video-banner__button-img {
  opacity: 1;
  z-index: 6;
}

/* VIDEO end */

/* OPTIONS start */

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  padding-block: 96px;

  @media (max-width: 1205px) {
    padding-block: 110px 96px;
  }
}

.options__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;

  @media (max-width: 1205px) {
    font-size: 35px;
    line-height: 38px;
  }
}

.options__table {
  display: grid;
  grid-template-columns: repeat(2, 543px);
  gap: 37px;

  @media (max-width: 1205px) {
    grid-template-columns: repeat(1, 395px);
    gap: 37px;
  }
}
.options__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options__card-img {
  width: 100%;
  object-fit: contain;
}
.options__card-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  text-align: center;

  padding-block: 40px 23px;
}
.options__card-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* OPTIONS end */

.black-bg {
  background-color: var(--font-color-black);
}

/* WORK-SCHEME start */

.work-scheme {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 96px;

  @media (max-width: 1205px) {
    padding-block: 110px 96px;
  }
}

.work-scheme__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;

  color: var(--font-color-white);

  @media (max-width: 1205px) {
    font-size: 46px;
    line-height: 50px;
  }
}

.work-scheme__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: var(--font-color-white);

  padding-block: 36px 70px;

  @media (max-width: 1205px) {
    padding-block: 46px 110px;
    max-width: 573px;
  }
}

.work-scheme__text-href {
  transition: color 0.3s ease-in-out;
}

.work-scheme__text-href:hover {
  color: var(--font-color-hover-link);
}

.work-scheme__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;

  @media (max-width: 1205px) {
    grid-template-columns: repeat(2, 252px);
  }
}

.work-scheme__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.work-scheme__card-image_wrapper {
  border-radius: 50%;
  background-color: #222222;
  width: 100px;
  height: 100px;
}

.work-scheme__card-image {
  width: 100%;
}

.work-scheme__card-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: var(--font-color-white);
}

/* WORK-SCHEME end */

/* PRODUCTION start */

.production {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 125px 341px;

  @media (max-width: 1205px) {
    padding-block: 110px 599px;
  }
}

.production__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;

  @media (max-width: 1205px) {
    font-size: 46px;
    line-height: 50px;
  }
}

.production__text {
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  padding-block: 72px 80px;

  @media (max-width: 1205px) {
    padding-block: 69px 72px;
  }
}

.production__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;

  @media (max-width: 1205px) {
    grid-template-columns: repeat(2, 251px);
  }
}

.production__card {
}

.production__card-image {
  width: 100%;
  object-fit: contain;

  border-radius: 4px;
}

/* PRODUCTION end */

/* SHOP-BANNER start */

.shop-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1125px;
  background-color: #e6e6e6;
  border-radius: 15px;

  position: absolute;
  bottom: -642px;

  @media (max-width: 1205px) {
    bottom: -944px;
  }
}

.shop-banner__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  width: 100%;

  text-align: center;

  padding-top: 83px;

  @media (max-width: 1205px) {
    font-size: 46px;
    line-height: 50px;
  }
}

.shop-banner__text {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  text-align: center;

  padding-block: 35px 50px;

  @media (max-width: 1205px) {
    padding-block: 48px 69px;
    max-width: 540px;
  }
}

.shop-banner__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  @media (max-width: 1205px) {
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--font-color-black);
  }
}

.shop-banner__card {
  height: 472px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.shop-banner__card-image {
  position: absolute;
  max-width: 100%;
  height: 100%;
}

.shop-banner__card-title {
  position: relative;
  bottom: calc(-100% + 84px);
  left: 27px;

  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: var(--font-color-white);

  z-index: 5;

  @media (max-width: 1205px) {
    bottom: calc(-100% + 84px);
    left: -68px;
  }
}

/* SHOP-BANNER end */

/* COLLAB start */

.collab {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 764px 80px;

  @media (max-width: 1205px) {
    padding-block: 1057px 105px;
  }
}

.collab__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  color: var(--font-color-white);

  text-align: center;
}

.collab__text {
  font-size: 16px;
  line-height: 24px;

  color: var(--font-color-white);

  text-align: center;

  padding-block: 40px 115px;
}

.collab__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.collab__card {
  position: relative;
}

.collab__card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  z-index: 5;

  color: var(--font-color-white);
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.collab__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--font-color-black);
  opacity: 0;

  transition: all 0.3s ease-in-out;
}

.collab__card:hover::before {
  opacity: 0.6;
}

.collab__card:hover .collab__card-title {
  opacity: 1;
}

.collab__card-img {
  width: 100%;
  height: 100%;
}

/* COLLAB end */

/* FOOTER start */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 48px;

  padding-block: 60px 34px;

  border-top: 1px #2c2c2c solid;
}

/* FOOTER end */
