:root {
  --desktop-width: 1129px;

  --font-color-white: #ffffff;
  --font-color-black: #191919;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  font-family: "RF Dewi";
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color-black);

  font-family: "RF Dewi";
  font-weight: 400;

  cursor: default;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: var(--desktop-width);

  margin: 0 auto;
}

/* HEADER */

.header {
  position: relative;
  background-image: url("./public/images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.5;
}

.header__background-img {
  position: absolute;
  object-fit: cover;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-top: 30px;

  color: var(--font-color-white);
}

.contacts__item {
  position: relative;
  width: fit-content;

  top: 0;

  size: 14px;
  line-height: 21px;
  font-weight: 400;

  z-index: 5;
}

.contacts__href::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contacts__item_centered {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  z-index: 4;
}

.contacts__item span:first-of-type {
  font-weight: 800;
  text-transform: uppercase;
}

.contacts__title {
  position: relative;
  top: 8px;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

.contacts__title span:first-of-type {
  font-size: 25px;
  line-height: 30px;
}

.hero {
  align-items: center;
  width: 100%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 130px 210px;

  gap: 32px;
}

.hero__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: var(--font-color-white);
}

/* HEADER end */

/* SHOP start */

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 120px 295px;
}

.shop__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;
}

.shop__text {
  display: inline-block;
  padding-block: 48px 64px;
  width: 734px;

  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

.shop__table {
  display: grid;
  grid-template-columns: repeat(3, 352px);
  column-gap: 34px;
  row-gap: 38px;
}

.shop__card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: 6px;
}

.shop__card-img {
  object-fit: contain;
  width: 100%;
  flex-shrink: 0;
}

.shop__card-title {
  font-size: 24px;
  line-height: 28px;
}

.shop__card-cost {
  position: relative;
  top: -12px;
  font-size: 18px;
  line-height: 22px;
}

/* SHOP end */

/* DEVELOPMENT start */

.development {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 305px 130px;
}

.development__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}

.development__text {
  display: inline-block;
  padding-block: 48px 64px;
  width: 734px;

  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

.development__table {
  display: grid;
  grid-template-columns: repeat(3, 351px);
  gap: 34px;
}

.development__card {
  display: flex;
  flex-direction: column;
}

.development__card-image {
  object-fit: contain;
  width: 100%;
  flex-shrink: 0;

  border-radius: 6px;
}

.development__card-title {
  display: block;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  padding-block: 34px 25px;

  text-align: center;
}

.development__card-text {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

/* DEVELOPMENT end */

.gray-bg {
  background: #eeeeee;
}

/* VIDEO start */
.video-banner {
  position: absolute;
  bottom: -175px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1125px;
  /* height: 350px; */
  height: 350px;
  border-radius: 15px;

  background-image: url("./public/images/video/video.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.video-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-color: var(--font-color-black);

  border-radius: 15px;
}

.video-banner__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--font-color-white);

  padding-block: 80px 36px;
  z-index: 5;
}

.video-banner__button {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: var(--font-color-white);
  opacity: 0.2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video-banner__button-img {
  opacity: 1;
  z-index: 6;
}

/* VIDEO end */

/* OPTIONS start */

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  padding-block: 96px;
}

.options__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}

.options__table {
  display: grid;
  grid-template-columns: repeat(2, 543px);
  gap: 37px;
}
.options__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options__card-img {
  width: 100%;
  object-fit: contain;
}
.options__card-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  text-align: center;

  padding-block: 40px 23px;
}
.options__card-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* OPTIONS end */

.black-bg {
  background-color: var(--font-color-black);
}

/* WORK-SCHEME start */

.work-scheme {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 96px;
}

.work-scheme__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;

  color: var(--font-color-white);
}

.work-scheme__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: var(--font-color-white);

  padding-block: 36px 70px;
}

.work-scheme__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
}

.work-scheme__table-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.work-scheme__table-image_wrapper {
  border-radius: 50%;
  background-color: #222222;
  width: 100px;
  height: 100px;
}

.work-scheme__table-image {
  width: 100%;
  /* width: 100px;
  height: 100px; */
}

.work-scheme__table-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: var(--font-color-white);
}

/* WORK-SCHEME end */

/* PRODUCTION start */

.production {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 125px 341px;
}

.production__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;
}

.production__text {
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  padding-block: 72px 80px;
}

.production__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;

  /* max-width: 423px; */
}

.production__card {
}
.production__card-image {
  width: 100%;
  object-fit: contain;

  border-radius: 4px;
}

/* PRODUCTION end */

/* SHOP-BANNER start */

.shop-banner {
  width: 1125px;
  background-color: #e6e6e6;
  border-radius: 15px;

  position: absolute;
  bottom: -642px;
}

.shop-banner__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  text-align: center;

  padding-top: 83px;
}

.shop-banner__text {
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  padding-block: 35px 50px;
}

.shop-banner__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.shop-banner__card {
  height: 472px;
  width: 100%;
  position: relative;
}

.shop-banner__card-image {
  position: absolute;
  max-width: 100%;
  height: 100%;
}

.shop-banner__card-title {
  position: relative;
  bottom: calc(-100% + 84px);
  left: 27px;

  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  color: var(--font-color-white);

  z-index: 5;
}

/* SHOP-BANNER end */

/* COLLAB start */

.collab {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 764px 80px;
}

.collab__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;

  color: var(--font-color-white);

  text-align: center;
}

.collab__text {
  font-size: 16px;
  line-height: 24px;

  color: var(--font-color-white);

  text-align: center;

  padding-block: 40px 115px;
}

.collab__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.collab__card {
}
.collab__card-img {
  width: 100%;
  object-fit: contain;
}

/* COLLAB end */

/* FOOTER start */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 48px;

  padding-block: 60px 34px;

  border-top: 1px #2c2c2c solid;
}

/* FOOTER end */
