:root {
  --desktop-width: 1129px;

  --font-color-white: #ffffff;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: var(--desktop-width);

  margin: 0 auto;
}

.header {
  position: relative;
  background-image: url("./public/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__background-img {
  position: absolute;
  object-fit: cover;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-top: 30px;

  color: var(--font-color-white);
}

.contacts__item {
  width: fit-content;

  font-weight: 400;
  size: 14px;
  line-height: 21px;
}

.contacts__item span:first-of-type {
  font-weight: 800;
  text-transform: uppercase;
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
}

.hero {
  align-items: center;
  width: 100%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: 130px 210px;

  gap: 32px;
}

.hero__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: var(--font-color-white);
}
